<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in... bla bla.... test test.</p>
<p>His favorite quotation is:<p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>